---
import Layout from '../layouts/Layout.astro';
import { getBase } from '../lib/utils';
---

<Layout title="My Blog">
	<main class="container p-4 grid grid-cols-1 lg:grid-cols-2">
	  <a href={getBase('/learning')} class="text-2xl flex gap-2 justify-center bg-black/5 hover:bg-black/10 items-center aspect-[2.5] rounded-2xl">
			<svg class="size-8">
			  <use href="#svg-book"></use>
			</svg>
			<span>What am I learning</span>
		</a>
	</main>
</Layout>
