---
import type { HTMLAttributes } from "astro/types"

type Props = HTMLAttributes<"a">

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url

function isActive(href: string | URL) {
  if (href === pathname || href === pathname.replace(/\/$/, "")) {
    return true
  }

  if (href === "/") {
    return false
  }

  if (
    pathname.includes(String(href)) ||
    pathname.includes(String(href + "/"))
  ) {
    return true
  }

  return false
}
---

<a
  href={href}
  class="inline-block py-8 px-2"
  class:list={[className, { active: isActive(href ?? "") }]}
  {...props}
>
  <slot />
</a>

<style>
  a.active {
    @apply text-primary underline decoration-2 underline-offset-8;
  }
</style>
