---
import Icons from '../components/Icons.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { getBase } from '../lib/utils';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="icon" type="image/svg+xml" href={getBase('/favicon.svg')} />

		<title>{title}</title>
	</head>
	<body>
	  <Icons />

		<Header />

	  <slot />

		<Footer />
	</body>
</html>

<style is:global>

</style>
